.App {
  text-align: center;
}

.App-logo {
  height: 5em;
  width: 8em;
  pointer-events: none;
}
.App-header,
.App-body {
  background-color: #282c34;
  color: #f3f3f3;
}
.App-header {
  height: 2em;
  padding: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body > .component-header {
  margin-top: 5em;
}
.App-link {
  color: #61dafb;
}
.btn {
  background: #61dafb;
  color: #282c34;
  padding: 1rem;
  border: none;
  border-radius: 0.3rem;
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
